@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  background-color: #0f1624;
}

.slick-slide > div {
  @apply md:m-3;
}

/* Custom styles to change the color of the dots */
.slick-dots li button {
  @apply bg-white;
  color: white;
}

/* Optional: Change the background color of active dot */
.slick-dots li.slick-active button {
  /* background-color: white; */
  @apply bg-white rounded-full;
}
